#

[worldserver]

###########################################
# Configuração do módulo Npc Talent Template
############################################
#
#    NpcTalentTemplate.EnableResetTalents
#        Descrição: Habilita a opção para redefinir talentos
#        Padrão:     1 - Ativado
#                     0 - Desativado
#

NpcTalentTemplate.EnableResetTalents = 1

#
#    NpcTalentTemplate.EnableRemoveAllGlyphs
#        Descrição: Habilita a opção para remover todos os glifos
#        Padrão:     1 - Ativado
#                     0 - Desativado
#

NpcTalentTemplate.EnableRemoveAllGlyphs = 1

#
#    NpcTalentTemplate.AtivadoestroyEquippedGear
#        Descrição: Habilita a opção para destruir equipamentos equipados
#        Padrão:     1 - Ativado
#                     0 - Desativado
#

NpcTalentTemplate.AtivadoestroyEquippedGear = 1

#
#    NpcTalentTemplate.AllianceMount
#    NpcTalentTemplate.HordeMount
#        Descrição:
#        Padrão:      51412 - BigBattleBear
#                     43688 - AmaniWarBear
#                     19902 - SwiftZulianTiger
#                     0 - Desativar
#

NpcTalentTemplate.AllianceMount = 51412
NpcTalentTemplate.HordeMount = 51412
